In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df= pd.read_csv('cleaned_dataset.csv', index_col='Unnamed: 0')

In [3]:
df['Credit_score_range']= pd.cut(df['CreditScore'], bins=[350.0,620.0,690.0,720.0,850.0], labels=['Bad', 'Fair', 'Good', 'Excellent'], duplicates='drop')

In [4]:
df.Credit_score_range.fillna(value=df.Credit_score_range.mode()[0], axis=0, inplace=True)

In [6]:
df['balance_bins']= pd.qcut(df.Balance, q=15, duplicates='drop', labels= [0,1,2,3,4,5,6,7,8,9])

In [7]:
df['estimated_salary_bins']= pd.qcut(df.EstimatedSalary, q=10, labels=[0,1,2,3,4,5,6,7,8,9])

In [8]:
df['credit_score_by_customer']= df.groupby(['Credit_score_range'])['CustomerId'].transform('count')

In [9]:
df.isnull().sum()

CustomerId                  0
CreditScore                 0
Gender                      0
Age                         0
Tenure                      0
Balance                     0
NumOfProducts               0
HasCrCard                   0
IsActiveMember              0
EstimatedSalary             0
Exited                      0
family_members_in_bank      0
country__Germany            0
country__Spain              0
Credit_score_range          0
balance_bins                0
estimated_salary_bins       0
credit_score_by_customer    0
dtype: int64

In [10]:
df.Credit_score_range.unique()

['Bad', 'Good', 'Excellent', 'Fair']
Categories (4, object): ['Bad' < 'Fair' < 'Good' < 'Excellent']

In [11]:
df.Credit_score_range= df.Credit_score_range.map({'Bad': 0,
                                                  'Fair': 1,
                                                  'Good': 2,
                                                  'Excellent': 3})

In [12]:
df.head()

,CustomerId,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,family_members_in_bank,country__Germany,country__Spain,Credit_score_range,balance_bins,estimated_salary_bins,credit_score_by_customer
0,15634602,619,0,3.761200,2,0.00,1,1,1,101348.88,1,1,0,0,0,0,5,3777
1,15647311,608,0,3.737670,1,83807.86,1,0,1,112542.58,0,17,0,1,0,1,5,3777
2,15619304,502,0,3.761200,8,159660.80,3,1,0,113931.57,1,8,0,0,0,9,5,3777
3,15701354,699,0,3.688879,1,0.00,2,0,0,93826.63,0,14,0,0,2,0,4,1064
4,15737888,850,0,3.784190,2,125510.82,1,1,1,79084.10,0,20,0,1,3,5,3,2408

In [13]:
df= df.drop('CustomerId', axis=1)

In [14]:
df.to_csv('final_data.csv')